<a href="https://colab.research.google.com/github/Revathireav/Python-Assignments/blob/main/Python_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is the output of the following code?
x = [1, 2, 3, 4]
print(x[1:3])

a) [1, 2]
b) [2, 3]
c) [1, 2, 3]
d) [2, 3, 4]

d) [2,3,4]

Which of the following data types is immutable?
a) List
b) Dictionary
c) Set
d) Tuple

d) Tuple

What is the output of the following code?
x = "hello"
print(x[::-1])

a) olleh
b) hello
c) ehllo
d) Error

a)olleh

Which of the following statements is true about Python functions?
a) A function in Python can return multiple values
b) A function in Python must always return a value
c) A function in Python can return at most one value
d) A function in Python cannot return a value

a) A function in python can return multiple values

Which of the following statements creates a dictionary in Python?
a) dict = {}
b) dict = []
c) dict = ()
d) dict = set()

a) dict = {}

What is the correct syntax for defining a class in Python?
a) class MyClass[]:
b) class MyClass:
c) def MyClass:
d) function MyClass:

c) def MyClass:

What does the len() function do?
a) It returns the length of a list or string
b) It returns the maximum value in a list
c) It returns the minimum value in a list
d) It converts a number to a string

a) It returns the length of a list or string

Which of the following methods adds an element to the end of a list?
a) list.add(x)
b) list.append(x)
c) list.insert(x)
d) list.extend(x)

b) list.append(x)

Which of the following is used to handle exceptions in Python?
a) try and except
b) catch and except
c) try and catch
d) do and except

a) try and except

What is the result of the following code?
a = [1, 2, 3]
b = a
b.append(4)
print(a)

a) [1, 2, 3]
b) [1, 2, 3, 4]
c) [4, 1, 2, 3]
d) [1, 2, 3, 4, 4]

b) [1, 2, 3, 4]

Write a Python Programme to calculate the number of Digits and Letters in a string
Sample Input = 123  -> Sample Output = 6

In [7]:
def find_string_count(value):
  digit_count = 0
  letter_count = 0

  for char in value:
    if char.isdigit():
      digit_count += 1
    elif char.isalpha():
      letter_count +=1
  return digit_count, letter_count

value = 'python123'
digit_count,letter_count = find_string_count(value)
print(f"The count of a letters are {letter_count} and the count of digits are {digit_count}")

The count of a letters are 6 and the count of digits are 3

Given an integer  n, perform the following conditional actions:
Write Python Logic
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5 , print Not Weird
If n is even and in the inclusive range of 6 to 20 , print Weird
If n is even and greater than 20 , print Not Weird
Input Format
-----------------
A single line containing a positive integer, n.

Constraints
-------------
1<=n<=100
Output Format
----------------
Print Weird if the number is weird. Otherwise, print Not Weird.

Sample Input 0
----------------
3
Sample Output 0
-----------------
Weird
Explanation 0
---------------------
n=3  is odd and odd numbers are weird, so print Weird.
Sample Input 1
-------------------------
24
Sample Output 1
-------------------------
Not Weird
Explanation 1
---------------------------
n > 20  and n  is even, so it is not weird.

In [20]:
def calculate_odd_even_range(n):
  if n % 2 == 0:
    if n >= 2 and n <= 5:
      return "Not Weird"
    elif n >= 6 and n <= 20:
      return "weird"
    elif n > 20:
      return "Not weird"
  else:
    return "Weird"

n = 40
result = calculate_odd_even_range(n)
print(result)

Not weird

Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string.
sample input : data sCience 12444
sample output :
upper case : 1
lower case : 10
numbers : 5
space : 2

In [25]:
def find_count(input):
  uppercase_count = 0
  lowercase_count = 0
  number_count = 0
  space_count = 0

  for char in input:
    if char.isupper():
      uppercase_count += 1
    elif char.islower():
      lowercase_count += 1
    elif char.isspace():
      space_count += 1
    elif char.isdigit():
      number_count += 1
  return uppercase_count, lowercase_count, space_count, number_count

input = 'data sCience 12444'
uppercase_count, lowercase_count, space_count, number_count = find_count(input)
print(f"Count of Upper Case : {uppercase_count}")
print(f"Count of Lower Case : {lowercase_count}")
print(f"Count of Space : {space_count}")
print(f"Count of Numbers : {number_count}")

Count of Upper Case : 1
Count of Lower Case : 10
Count of Space : 2
Count of Numbers : 5

Write a Python function to convert a given string to all uppercase if it contains at least 2 uppercase characters in the first 4 characters

sample input : PYTHON data science
sample output : PYTHON DATA SCIENCE


sample input : Python data science
sample output : python data science

print each value from the list with its index
input = [10,11,50,34]
Expected output = [100 , 111 , 502 , 343]

In [29]:
input_list = [10, 11, 50, 34]
output_list = []

for index, value in enumerate(input_list):
    combined_value = int(f"{value}{index}")
    output_list.append(combined_value)

print(output_list)

[100, 111, 502, 343]

L =  [ [ 12, 34, 25], [1, 45, 0] ]
# find only the odd values from the above list
 Out = [25, 1, 45]

In [30]:
input_list = [[12, 34, 25], [1, 45, 0]]
output_list = [value for sublist in input_list for value in sublist if value % 2 != 0]

print(output_list)

[25, 1, 45]