<a href="https://colab.research.google.com/github/Revathireav/Python-Assignments/blob/main/Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python List Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! 💻🐍 `

### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [2]:
# Please write The solution Here for above question 1:

def find_list_count(value):
    count = 0
    for _ in value:
        count += 1
    return count

value = [10, 11, 12, 13]
result = find_list_count(value)
print(f"Result : {result}")

Result : 4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [3]:
# Please write The solution Here for above question 2:

def find_max_min(value):
    max_value = value[0]
    min_value = value[0]

    for num in value[1:]:
        if num > max_value:
            max_value = num
        if num < min_value:
            min_value = num

    return max_value, min_value

value = [10, 11, 12, 13, 14, 15]
max_value, min_value = find_max_min(value)
print(f"Result : max = {max_value}, min = {min_value}")

Result : max = 15, min = 10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [4]:
# Please write The solution Here for above question 3:


def remove_first_occurrence(value, element):
    if element in value:
        value.remove(element)
    return value

value = [1, 2, 3, 4, 2, 5]
element_to_remove = 2
result = remove_first_occurrence(value, element_to_remove)
print(f"Result : {result}")

Result : [1, 3, 4, 2, 5]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [6]:
# Please write The solution Here for above question 4:

def find_average(value):
    if not value:
        return 0

    total_sum = sum(value)
    count = len(value)
    average = total_sum / count
    return round(average,3)

value = [1, 2, 3, 4, 2, 5]
average = find_average(value)
print(f"Result : {average}")

Result : 2.833

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [9]:
# Please write The solution Here for above question 5:

def is_empty(value):
    return len(value) == 0

var1 = [1,2]
var2 = []

print(f"Result : {'Empty' if is_empty(var1) else 'Not Empty'}")
print(f"Result : {'Empty' if is_empty(var2) else 'Not Empty'}")

Result : Not Empty
Result : Empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [12]:
# Please write The solution Here for above question 6:

def find_index(value, element):
    try:
        index = value.index(element)
    except ValueError:
        return f"Element {element} not found in the list."
    return index

value = [1,2,3,4,2,5]
element_to_find = 3
index = find_index(value, element_to_find)
print(f"Result : {element_to_find} index is {index}")

Result : 3 index is 2

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [13]:
# Please write The solution Here for above question 7:

def is_palindrome(num):
    str_num = str(num)
    return str_num == str_num[::-1]

def check_palindromes(value):
    results = []
    for num in value:
        if is_palindrome(num):
            results.append(f"{num} is a palindrome")
        else:
            results.append(f"{num} is not a palindrome")
    return results

value = [134, 121, 155]
result = check_palindromes(value)

print("Result:")
for res in result:
    print(res)

Result:
134 is not a palindrome
121 is a palindrome
155 is not a palindrome

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [14]:
# Please write The solution Here for above question 8:

def find_common_elements(value1, value2):
    set1 = set(value1)
    set2 = set(value2)

    common_elements = set1.intersection(set2)

    return common_elements

value1 = [1, 2, 3, 4, 10]
value2 = [10, 11, 12, 14]
common_elements = find_common_elements(value1, value2)

print("Result:")
for element in common_elements:
    print(element)

Result:
10

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [16]:
# Please write The solution Here for above question 9:

def remove_duplicates(value):
    seen = set()
    result = []
    for item in value:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

value = [10, 11, 12, 10, 12, 24]
result = remove_duplicates(value)
print(f"Result : {result}")

Result : [10, 11, 12, 24]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [17]:
# Please write The solution Here for above question 10:

def sort_list(value):
    return sorted(value)

input_list = ['a', 'c', 'b']
sorted_list = sort_list(input_list)
print(f"Result: {sorted_list}")

Result: ['a', 'b', 'c']